@model basePing.ViewModel.fichier
@{
    ViewBag.Title = "Joueur";
}

<a name="top"></a>
<br />
<div style="background-color: #199aca; width: auto; padding: 10px 50px;">
    <div style="text-align: left;">
        <font size="6" color="#FFFFFF" face="arial"><h2>@ViewBag.Joueur.Nom @ViewBag.Joueur.Prenom</h2></font>
        @if ((bool)Session["admin"])
        {
            <div>
                @Html.ActionLink("Modifier", "UpdateJoueur", "Joueur", new { area = "" }, new { @class = "btn btn-info" })
                @Html.ActionLink("Supprimer", "DeleteJoueur", "Joueur", new { area = "" }, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>

<div style="position: relative; left: 700px; top: -75px; height:0px;">
    <img src="~/Content/image/@ViewBag.photo" onerror="this.error=null;src='../../Content/image/no-photo.jpg';" style="border: 2px solid #fff; width: 382px; height: 334px; border-radius: 80px;" />
    @if ((bool)Session["admin"])
    {
        using (Html.BeginForm("AddPhoto", "Joueur", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(m => m.File, new { type = "file" })
            @Html.ValidationMessageFor(m => m.File)
            <input type="text" class="hidden" name="id" value="@ViewBag.Joueur.Id">
            <input type="submit" class="btn btn-success" value="Envoyer" />
        }
    }
</div>
<div>
    <br />
    @Html.ActionLink("Retour", "Index", "Joueur", null, new { @class = "btn btn-success" })
    <p>
        <h4>Date de naissance   : @ViewBag.dateNaissance</h4> <br />
        <h4>Nationalité         : @ViewBag.Joueur.National</h4> <br />
        <h4>Sexe                : @ViewBag.sexe</h4> <br />
    </p>

</div>
<div width: 460px; padding: 20px;">
    <div style="text-align: center;">
        <font face="arial" size="3">
            <a href="#1" title="" target="">Palmarès Civil</a> &nbsp;-&nbsp;
            <a href="#2" title="" target="">Palmarès Sportif</a>
        </font>
    </div>
</div>

<div width: 500px; height:290px; overflow: hidden;">
    <a name="1"></a>
    <div style="text-align: center;">Palmarès Civil</div>
    <div style="text-align: left;">
       @*Liste des palmarès civic*@
    </div>
</div>

<div width: 500px; height:290px; overflow: hidden;">
    <a name="2"></a>
    <div style="text-align: center;">Palmarès Sportif</div>
    <div style="text-align: left;">
       @*Liste des palmarès sportifs*@
    </div>
</div>
<button type="button" class="btn btn-success" value="Haut de la page" OnClick="window.location.href='#top';">Haut de la page</button>