@model basePing.ViewModel.infoJoueur


@using (Html.BeginForm("ModifierJpoule", "Joueur"))
{
    <input type="hidden" value="@ViewBag.idP" name="idP" />
    <input type="hidden" value="@Model.Id" name="idJ" />
    <label>Position</label>
    <input type="number" name="pos" value="@Model.position" required="required" />
    <label>Match gagné</label>
    <input type="number" name="matchG" value="@Model.matchGagné" required="required" />
    <label>Match perdu</label>
    <input type="number" name="matchP" value="@Model.matchPerdu" required="required" />

    <input type="submit" value="Modifier" />

}
