@using basePing.Models;
@{
    ViewBag.Title = "liste des fédérations";
}
@if ((bool)Session["admin"])
{
    <br />
    <div class="form-inline">
        @using (Html.BeginForm("AddFederation", "Federation"))
        {
            <div class="form-group">
                <label>Fédération </label>
                <input type="text" class="form-control" name="nomFederation">
            </div>

            <div class="form-group">
                <label>Nationalité </label>
                @Html.DropDownList("Pays", Session["listePays"] as SelectList, string.Empty, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Lien du site</label>
                <input type="text" class="form-control" name="web">
            </div>
            <br />
            <br />
            <input type="submit" class="btn btn-success" value="Ajouter" />
        }
    </div>
    <div>
        <h2 class="alert-danger">@Request.QueryString["error"]</h2>
    </div>
}
<h2>@ViewBag.Title</h2>
<div>
    <br />
    <table class="table table-striped">
        @foreach (Federation f in ViewBag.liste)
        {
            <tr class="bg-info">
                <td>@f.NomFederation</td>
                <td>@f.PaysFederation</td>
                <td><a href="http://\@f.Web" class="btn btn-primary active" role="button" target="_blank">@f.Web</a></td>
                @if ((bool)Session["admin"])
                {
                    <td>@Html.ActionLink("Modifier", "UpdateFederation", "Federation", new { id = f.Id }, new { @class = "btn btn-info" })</td>
                    <td>@Html.ActionLink("Effacer", "DeleteFederation", "Federation", new { id = f.Id }, new { @class = "btn btn-danger" })</td>
                }
            </tr>
        }
    </table>
</div>