@using basePing.Models;


<h1>Ajouter une rencontre existante</h1>
@using (Html.BeginForm("LieRencontre", "CompetitionEquipe"))
{
    <div class="form-group">
        <input type="hidden" value="@ViewBag.pos" name="pos" />
        <label>Rencontre existant</label>

        @Html.DropDownList("match", Session["listM"] as SelectList, new { @class = "form-control" })

    </div>
    <br />
    <br />


        <br />
        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-success" />
            @Html.ActionLink("Annuler", "InfoComp", "CompetitionEquipe", new { id = Session["idComp"] }, new { @class = "btn btn-danger" })

        </div>

}
<h1>Crée une nouvelle rencontre</h1>
<br />
<div class="form-inline">
    @using (Html.BeginForm("AjoutEtLieRencontrePoule", "CompetitionEquipe"))


    {
        <div class="form-group">
            <label>Points de l'équipe choisie</label>
            @Html.TextBox("score1", "Score joueur 1", new { type = "number", min = "0", max = "7", @class = "form-control" })


            <label>Equipe adverse</label>
            @Html.DropDownList("equipe", Session["listE"] as SelectList, new { @class = "form-control" })
            <label>Points de l'équipe adverse</label>
            @Html.TextBox("score2", "Score joueur 1", new { type = "number", min = "0", max = "7", @class = "form-control" })

        </div>
        <br />

        <br />
        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-success" />
            @Html.ActionLink("Annuler", "InfoComp", "CompetitionEquipe", new { id = Session["idComp"] }, new { @class = "btn btn-danger" })
        </div>
    }
</div>