<br />
<div style="background-color: #199aca; width: auto; padding: 10px 50px;">
    <div class="form-inline">
        @using (Html.BeginForm("AjoutMatchEquipe", "Match"))
        {
            <div class="form-group">
                <input type="hidden" value="@ViewBag.idComp" name="id" />
                <label>Joueur 1</label>
                @Html.DropDownList("equipe1", Session["listE"] as SelectList, new { @class = "form-control" })
                <label>Set</label>
                @Html.TextBox("score1", "Score Equipe 1", new { type = "number", min = "0", max = "7", @class = "form-control", required = "required" })

            </div>
            <br />
            <br />
            <div class="form-group">
                <label>Joueur 2</label>
                @Html.DropDownList("equipe2", Session["listE"] as SelectList, new { @class = "form-control" })

                <label>Set</label>
                @Html.TextBox("score2", "Score Equipe 2", new { type = "number", min = "0", max = "7", @class = "form-control", required = "required" })
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-success" />
                @Html.ActionLink("Annuler", "InfoComp", "CompetitionEquipe", new { id = Session["idComp"] }, new { @class = "btn btn-danger" })
            </div>
        }
    </div>

    <div>
        <h2 class="alert-danger">@Request.QueryString["error"]</h2>
    </div>
</div>