<br />
<div style="background-color: #199aca; width: auto; padding: 10px 50px;">
    <div class="form-inline">
        @using (Html.BeginForm("AjoutEtLieMatchDouble", "Match"))
        {
            <div class="form-group">
                
                <input type="hidden" value="@ViewBag.idComp" name="id" />
                <label>Joueur 1</label>
                @Html.DropDownList("joueur1", Session["listJ1"] as SelectList, new { @class = "form-control" })
                <label>Joueur 2</label>
                @Html.DropDownList("joueur2", Session["listJ1"] as SelectList, new { @class = "form-control" })
                <label>Set</label>
                @Html.TextBox("score1", "Score joueur 1", new { type = "number", min = "0", max = "7", @class = "form-control", required = "required" })

            </div>
            <br />
            <br />
            <div class="form-group">
                <label>Joueur 3</label>
                @Html.DropDownList("joueur3", Session["listJ2"] as SelectList, new { @class = "form-control" })
                <label>Joueur 4</label>
                @Html.DropDownList("joueur4", Session["listJ2"] as SelectList, new { @class = "form-control" })
                <label>Set</label>
                @Html.TextBox("score2", "Score joueur 2", new { type = "number", min = "0", max = "7", @class = "form-control", required = "required" })
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-success" />
                @Html.ActionLink("Annuler", "InfoComp", "CompetitionEquipe", new { id = Session["idComp"] }, new { @class = "btn btn-danger" })
            </div>
        }
    </div>

    <div>
        <h2 class="alert-danger">@Request.QueryString["error"]</h2>
    </div>
</div>

