@using basePing.ViewModel
@{
    ViewBag.Title = "Add Participant";
}

<h2>Ajouter un/des participant(s)</h2>

<div style="background-color: #199aca; width: auto; padding: 10px 50px;">
    <table class="table table-striped">
        <thead>Liste des participant(es)</thead>
        @foreach (VMParticipant j in ViewBag.listeParticipant)
        {
            <tr class="bg-info">
                <td>@j.Nom</td>
                <td>@j.Prenom</td>
                <td>@j.National</td>
                <td>@j.Position</td>
                <td>@Html.ActionLink("Retirer", "SubJoueur", "Competition", new { id = j.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
     </table>
    <div class="form-inline">
        @using (Html.BeginForm("ListeParticipant", "Competition"))
        {
            <div class="form-group">
                <label>Joueur </label>
                <input type="text" class="form-control" name="nom">
            </div>

            <div class="form-group">
                <label>Nationalité </label>
                @Html.DropDownList("Pays", Session["listePays"] as SelectList, string.Empty, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Sexe </label>
                <select class="form-control" name="sexe">
                    <option></option>
                    <option>Masculin</option>
                    <option>Féminin</option>
                </select>
            </div>
            <input type="submit" class="btn btn-warning" value="Recherche" />
        }
    </div>
    <br />
    @Html.ActionLink("Terminé", "InfoComp/" + Session["idComp"], new { area = "" }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Créer un joueur/joueuse", "AddNewJoueur", new { area = "" }, new { @class = "btn btn-success" })
    <div>
        <h2 class="alert-danger">@Request.QueryString["error"]</h2>
    </div>
</div>