@using basePing.Models;
@using basePing.ViewModel;
@model basePing.Models.Competition



<h1>@Model.Nom  @Model.Cat</h1>

<h2>du @Model.DateDeb.ToShortDateString() au @Model.DateDeb.ToShortDateString()</h2>
<table border="1">
    @foreach (Poule p in Model.LPoule)
    {
        <tr> <th colspan="4">@p.NomPoule</th></tr>
        foreach (infoJoueur j in p.LJoueur)
        {
            <tr>
                <td>@Html.ActionLink(j.nom, "Joueur", "Joueur", new { id = j.Id }, new { @class = "btn" })</td>
                <td> @j.position </td>
                <td>@j.matchGagné</td>
                <td>@j.matchPerdu</td>
            </tr>
        }
    }

</table>
<table>
    <tr>
            @{int[,] tab = new int[2,6] { { 0, 1, 3, 7, 15,31 }, { 2, 4, 8, 16, 32, 64 } };
                int cpt = -1;
                bool ligneOk = false;
                for (int i = 0; i < 6; i++)
                {
                        <td>
                        <table>
                @{
                        cpt = -1;
                }
               @for (int j = 0; j < 63; j++)
                    {
                   if (tab[0, i] == j || cpt == 0)
                    {
                       if (ligneOk) {
                            ligneOk = false;
                        }
                        else {
                                ligneOk = true;
                            }
                            cpt = tab[1, i];
                        <tr><td style="border-right: 1px solid #cdd0d4;">Joueur dedans</td></tr>
                    }
                    else if(ligneOk && i!=5)
                    {
                    <tr><td style="border-right: 1px solid #cdd0d4;">.</td></tr>
                   }
                   else if (!ligneOk)
                   {
                    <tr><td>.</td></tr>
                   }
                   else
                   {
                    <tr><td>.</td></tr>
                   }
                   cpt--;
               }


            </table>
           </td>
                    }
            }
    </tr>
</table>




