@using basePing.Models;
@using basePing.ViewModel;
@model basePing.Models.Competition


@if ((Boolean)Session["admin"] == false)
{
<h1>@Model.Nom du @Model.DateDeb.ToShortDateString() au @Model.DateFin.ToShortDateString()</h1>
<h2>Liste des participant</h2>
    foreach(Joueur j in Model.GetListPart())
    {
        <li>@j.Nom  @j.Prenom @j.National</li>
    }
    if (Model.LPoule.Count != 0)
    {
        <table border="1">
            @foreach (Poule p in Model.LPoule)
            {
                <tr> <th colspan="4">@p.NomPoule</th></tr>
                <tr> <th>Joueur</th> <th>Position</th> <th>Match gagné</th> <th>Match perdu</th></tr>
                foreach (infoJoueur j in p.LJoueur)
                {
                    <tr>
                        <td>@Html.ActionLink(j.nom, "Joueur", "Joueur", new { id = j.Id }, new { @class = "btn" })</td>
                        <td>@j.position </td>
                        <td>@j.matchGagné</td>
                        <td>@j.matchPerdu</td>
                    </tr>
                }
            }

        </table>
    }
    if (Model.Tournoi != null)
    {
        <table>
            <tr>
                @{int[,] tab = new int[2, 6] { { 0, 1, 3, 7, 15, 31 }, { 2, 4, 8, 16, 32, 64 } };
                    int[] taille = { 1, 3, 7, 15, 31, 63 };
                    int cpt = 0;
                    for (int i = 0; i < Model.Tournoi.Taille; i++)
                    {
                        Match[] match = Model.Tournoi.getArrayMatch();
                        <td>
                            <table>
                                @for (int u = 0; u < tab[0, i]; u++)
                                {
                                    <tr><td>.</td></tr>
                                }


                                @for (int j = 0; j < taille[Model.Tournoi.Taille - 1]; j = j + tab[1, i])
                                {
                                    if (@match[cpt] == null)
                                    {
                                        <tr><td style="border: 1px solid #cdd0d4;">INCONNU</td></tr>
                                        for (int z = 0; z <= tab[1, i] - 2; z++)
                                        {
                                            <tr><td style="border-right: 1px solid #cdd0d4;">.</td></tr>
                                        }
                                        <tr><td style="border: 1px solid #cdd0d4;">INCONNU</td></tr>
                                    }
                                    else
                                    {
                                    <tr><td style="border: 1px solid #cdd0d4;">@match[cpt].Joueur1.Nom | @match[cpt].Score1</td></tr>
                                        for (int z = 0; z <= tab[1, i] - 2; z++)
                                        {
                                        <tr><td style="border-right: 1px solid #cdd0d4;">.</td></tr>
                                        }
                                    <tr><td style="border: 1px solid #cdd0d4;">@match[cpt].Joueur2.Nom | @match[cpt].Score2</td></tr>
                                    }
                                    cpt++;
                                    if (j < taille[Model.Tournoi.Taille - 1] - tab[1, i])
                                    {
                                        for (int k = 0; k <= tab[1, i] - 2; k++)
                                        {
                                            <tr><td>.</td></tr>
                                        }
                                    }
                                    else
                                    {
                                        for (int u = 0; u < tab[0, i]; u++)
                                        {
                                   <tr><td>.</td></tr>
                                        }
                                    }
                                }


                            </table>
                        </td>

                    }
                    <td>
                        <table>

                            @for (int u = 0; u < tab[0, Model.Tournoi.Taille]; u++)
                            {
                                <tr><td>.</td></tr>
                            }
                            <tr><td>Finalliste</td></tr>
                            @for (int u = 0; u < tab[0, Model.Tournoi.Taille]; u++)
                            {
                                <tr><td>.</td></tr>
                            }
                        </table>
                    </td>
                }
            </tr>
        </table>
    }

 }
else//PARTIE ADMINISTRATION
{

    <h1>@Model.Nom du @Model.DateDeb.ToShortDateString() au @Model.DateFin.ToShortDateString()</h1>
    @Html.ActionLink("Modifier", "ModifierComp", "Competition", new { id = Model.Id,nom=Model.Nom,dateD=Model.DateDeb,dateF=Model.DateFin,type=Model.TypeComp,nbrJ=Model.NbrJoueur }, new { @class = "btn btn-info" })
    @Html.ActionLink("Ajouter un participant", "AjoutParticipant", "Competition", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Ajouter un match", "AjoutMatch", "Match", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Supprimer", "SuppressionComp", "Competition", new { id = Model.Id }, new { @class = "btn btn-danger" })
                
                        
     foreach(Joueur j in Model.GetListPart())
    {
        <li>@Html.ActionLink(j.Nom+" " +j.Prenom, "Joueur", "Joueur", new { id = j.Id }, new { @class = "btn" })  @Html.ActionLink("Supprimer", "SupprimerParticipant", "Competition", new { idJ = @j.Id,idC=@Model.Id}, new { @class = "btn btn-info" })</li>
    }

    if (Model.LPoule.Count != 0)
        {
        <table border="1">
            @foreach (Poule p in Model.LPoule)
            {
                <tr> <th colspan="4">@p.NomPoule</th></tr>
                <tr> <th>Joueur</th> <th>Position</th> <th>Match gagné</th> <th>Match perdu</th></tr>
                foreach (infoJoueur j in p.LJoueur)
                {
                    <tr>
                        <td>@Html.ActionLink(j.nom, "Joueur", "Joueur", new { id = j.Id }, new { @class = "btn btn-succes" })</td>
                        <td>@j.position </td>
                        <td>@j.matchGagné</td>
                        <td>@j.matchPerdu</td>


                        <td>
                            @Html.ActionLink("Modifier", "ModifierJoueurPoule", "Joueur", new {id=Model.Id, idP = p.Id, idJ = @j.Id , matchG=@j.matchGagné, matchP=@j.matchPerdu,pos=@j.position }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Supprimer", "SupprimerJoueurPoule", "Joueur", new { id = Model.Id, idP = p.Id ,idJ=@j.Id}, new { @class = "btn btn-danger" })
                        </td>
                    </tr>

                }
                if (p.LJoueur.Count < p.Taille)
                {
                <tr>
                    <td colspan="4">
                        @Html.ActionLink("Ajouter un nouveau joueur", "AjoutJoueurPoule", "Joueur", new { id=p.Id,idC=Model.Id }, new { @class = "btn btn-success" })
                    </td>

                </tr>
                }
                <tr>
                    <td colspan="4">
                        @Html.ActionLink("Modifier Poule", "ModifPouleForm", "Serie", new {idC=Model.Id, id = p.Id,desc=p.Descriptif,nom=p.NomPoule,taille=p.Taille }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Supprimmer Poule", "SuppPoule", "Serie", new { id = p.Id,idC=Model.Id }, new { @class = "btn btn-danger" })
                    </td>

                </tr>
            }

        </table>

    }

    using (Html.BeginForm("AjoutPoule", "Serie"))
    {
        <div class="form-group">
            <h2>Ajouter une poule</h2>
            <label> Nom  Poule</label>
            <input type="text" name="nom" required="required" />
            <label>Taille Poule</label>
            <input type="number" name="taille" required="required" />
            <input type="hidden" name="idComp" value="@Model.Id" />
            <input type="submit" value="Ajouter" required="required" class="btn btn-success" />
        </div>
                            



    }
    if (Model.Tournoi != null)
    {
        <table>
            <tr>
                    @{int[,] tab = new int[2, 6] { { 0, 1, 3, 7, 15, 31 }, { 2, 4, 8, 16, 32, 64 } };
                int[] taille = { 1, 3, 7, 15, 31, 63 };
                int cpt = 0;
                for (int i = 0; i < Model.Tournoi.Taille; i++)
                {
                    Match[] match = Model.Tournoi.getArrayMatch();
                        <td>
                            <table>
                                @for (int u = 0; u < tab[0, i]; u++)
                                {
                                    <tr><td>.</td></tr>
                                }


                @for (int j = 0; j < taille[Model.Tournoi.Taille - 1]; j = j + tab[1, i])
                                {
                    if (@match[cpt] == null)
                    {
                                        <tr><td style="border: 1px solid #cdd0d4;">INCONNU</td></tr>
                                        <tr><td style="border-right: 1px solid #cdd0d4;">@Html.ActionLink("Ajouter Match", "AjoutMatch", "Match", null, new { @class = "btn btn-success" })</td></tr>
                                        for (int z = 0; z <= tab[1, i] - 3; z++)
                        {
                                            <tr><td style="border-right: 1px solid #cdd0d4;">.</td></tr>
                                        }
                                        <tr><td style="border: 1px solid #cdd0d4;">INCONNU</td></tr>
                                    }
                    else
                    {
                                        <tr><td style="border: 1px solid #cdd0d4;">@match[cpt].Joueur1.Nom | @match[cpt].Score1</td></tr>
                                        for (int z = 0; z <= tab[1, i] - 2; z++)
                        {
                                            <tr><td style="border-right: 1px solid #cdd0d4;">.</td></tr>
                                        }
                                        <tr><td style="border: 1px solid #cdd0d4;">@match[cpt].Joueur2.Nom | @match[cpt].Score2</td></tr>
                                    }
                    cpt++;
                    if (j < taille[Model.Tournoi.Taille - 1] - tab[1, i])
                    {
                        for (int k = 0; k <= tab[1, i] - 2; k++)
                        {
                                            <tr><td>.</td></tr>
                                        }
                    }
                    else
                    {
                        for (int u = 0; u < tab[0, i]; u++)
                        {
                                            <tr><td>.</td></tr>
                                        }
                    }
                }


                            </table>
                        </td>
    
                    }
                    <td>
                        <table>

                            @for (int u = 0; u < tab[0, Model.Tournoi.Taille]; u++)
                            {
                                <tr><td>.</td></tr>
                            }
                            <tr><td>Finalliste</td></tr>
                            @for (int u = 0; u < tab[0, Model.Tournoi.Taille]; u++)
                            {
                                <tr><td>.</td></tr>
                            }
                        </table>
                    </td>
                    }
            </tr>
        </table>
}
         else
       {
      @Html.ActionLink("Ajouter le tableau de phase final", "AjouterTournoi", "Serie",
        new { id = Model.Id}, new { @class = "btn btn-success" })
       }
   }

 
   