
@using (Html.BeginForm("ModifierComp", "Competition"))
{

   
    <h1>Modification de la compétition</h1>
    <br />
    <label>Nom de la compétition</label>
    <input type="text" name="nom" value="@ViewBag.Nom" required="required" />
    <label>Date de début </label>
    <input type="date" name="dateD" value="@ViewBag.dateD.ToString("yyyy-MM-dd")" required="required" />
    <label>Date de fin </label>
    <input type="date" name="dateF" value="@ViewBag.dateF.ToString("yyyy-MM-dd")" required="required"/>
    <br />
    <label>Nationalité</label>
    @Html.DropDownList("pays", (SelectList)ViewBag.listePays, new { @class = "form-control" })
    <label>Type compétition</label>
    @Html.DropDownList("type", (SelectList)ViewBag.listeType, new { @class = "form-control" })
    <label>Equipe ou Individuel</label>
    @Html.DropDownList("nbrJ", (SelectList)ViewBag.listeNbrJ, new { @class = "form-control" })
    <label>Sous catégorie</label>
    @Html.DropDownList("idSC", (SelectList)ViewBag.listeSC, new { @class = "form-control" })
    <input type="hidden" value="@ViewBag.idComp" name="idComp" />

    <input type="submit" value="Ajouter Compétition" />

}