@using basePing.Models

<h2>@ViewBag.Cat.Nom</h2>

@if ((bool)Session["admin"])
{
    @Html.ActionLink("Modifier", "ModifCat", "Competition",
                     new { id = ViewBag.Cat.Id }, new { @class = "btn" })
}

<ul class="list-group">

    @foreach (SousCategorie cat in ViewBag.sousCat)
    {
        <li class="list-group-item list-group-item-success">
            <a href="~/Competition/GetComp/@cat.Id">@cat.Nom</a>
            @if ((bool)Session["admin"])
            {
            @Html.ActionLink("Supprimer sous catégorie", "SuppSousCat", "Competition",
                   new { idSC = cat.Id },
                    new { onclick = "return confirm('Attention , la supression de la catégorie entrainera la supression de toutes les compétitions ainsi que ces informations liée , êtes vous sur.')" })
            }
        </li>
    }

    @if ((bool)Session["admin"])
    {
        <li>@Html.ActionLink("Ajouter sous catégorie", "AjouterSousCatForm", "Competition",
                    null, new { @class = "btn btn-succes" })</li>
    }
</ul>




