@using basePing.Models

<h2>@ViewBag.Cat.Nom</h2>

@if ((bool)Session["admin"])
{
    @Html.ActionLink("Modifier", "ModifCat", "Competition", new { id = ViewBag.Cat.Id }, new { @class = "btn" })


    if (@ViewBag.Cat.Id >= 4)
    {

        @Html.ActionLink("Supprimer", "SuppCat", "Competition", new { id = ViewBag.Cat.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Attention , la supression de la catégorie entrainera la supression de toutes informations liée à cette dernière, êtes vous sur.')" })
    }
}

<div class="btn-group btn-group-justified">
    <ul style="list-style-type: none; ">

        @foreach (SousCategorie cat in ViewBag.sousCat)
        {
            <li>
                <a href="~/Competition/GetComp/@cat.Id" class="btn btn-primary">@cat.Nom</a>
                @if ((bool)Session["admin"])
                {
                    @Html.ActionLink("Supprimer sous catégorie", "SuppSousCat", "Competition",
                   new { idSC = cat.Id },
                    new { @class = "btn btn-danger", onclick = "return confirm('Attention , la supression de la catégorie entrainera la supression de toutes les compétitions ainsi que ces informations liée , êtes vous sur.')" });
                }
            </li>
        }

        @if ((bool)Session["admin"])
        {
            <li>
                @Html.ActionLink("Ajouter sous catégorie", "AjouterSousCatForm", "Competition",
                    null, new { @class = "btn btn-success" })
            </li>
        }
    </ul>
</div>





